.media-body {
    -ms-flex: 1;
    flex: 1;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Only resize the element if PDF is embedded */
.pdfobject-container, #resume {
   width: 1000px;
   height: 1000px;
}

/* Makes hrefs for contact cards black, and
   maintains intuitive design with link clicking */
.contact a:link, .contact a:visited{
    color: black;
}
.contact a:hover {
    color: #1155cc;
}
.contact a:active {
    color: purple;
}

#hduke a:link, #hduke a:visited {
    color: rgb(32, 32, 31);
}
#hduke a:hover {
    color: #1155cc;
}
#hduke a:active {
    color: purple;
}

.projects-lang-tech {
    /* Allows you to put "Language/Technologies:" without breaking text */
    padding-bottom: 32px;
}

.nav-bar-spacing li {
    padding: 5px;
}